body {
    background-color: #160b24;
    font-family: 'Roboto', sans-serif;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 18px;
    transition: all 0.4s ease;
}

.square:hover {
    box-shadow: 0 0 8px 4px #fff;
}

.jumbotron {
    height: 200px;
    border-radius: 0 !important;
    background-color: #50b3c8;
    margin-top: -30px;
}

.jumbotron h1 {
    padding-top: 70px;
    color: #fff;
    text-shadow: 1px 1px 5px #383838;
}

#color-display {
    font-weight: bolder;
}